body {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#a2d2ff, #EFB0C9);
}
h1, h2, h4, h3, p {
  text-shadow:0 0 2px black;
}


#bff-img {
  border-radius: 50%;
  width: 150px;
  border: 6px solid #EFB0C9;
}

#bday-age {
  margin: 5px 0 10px 0;
  padding:5px 10px;
  border-radius: 5px;
  background: #EFB0C9;
}

#bday-date {
  padding:3px;
  margin:0;
  background: #EFB0C9;
}


#header {
  display: flex;
  flex-direction: column;
  align-items:center;
  
}
.gift-section{
  margin-top:50px;
}
.gift-title{
  margin-bottom: 10px;
}
.gift-hint {
  margin-top:0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img{
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("images/gift.jpg");
  background-size: cover;
  height: 400px;
  margin:0 auto;
  width: 400px;
}
#gift-img-happy:hover{
  background-image: url("images/happy.gif");
}
#gift-img-hot:hover{
  background-image: url("images/hot.gif");
}
#gift-img-genius:hover{
  background-image: url("images/genius.gif");
}
#gift-img-badass:hover{
  background-image: url("images/badass.gif");
}
#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
  width: 400px;
  margin: 40px auto 20px;
  font-style: italic;
}

a {
  color: purple;
}